<h2><%= t('.heading') %></h2>
<%= link_to t('.edit_section'), prisoner_information.edit_section_path %>
<div>
  <p><%= t('.family_name') %></p>
  <p><%= prisoner_information.family_name %></p>
</div>
<div>
  <p><%= t('.forenames') %></p>
  <p><%= prisoner_information.forenames %></p>
</div>
<div>
  <p><%= t('.date_of_birth') %></p>
  <p><%= prisoner_information.date_of_birth %></p>
</div>
<div>
  <p><%= t('.age') %></p>
  <p><%= prisoner_information.age %></p>
</div>
<div>
  <p><%= t('.sex') %></p>
  <p><%= prisoner_information.sex %></p>
</div>
<div>
  <p><%= t('.prison_number') %></p>
  <p><%= prisoner_information.prison_number %></p>
</div>
<div>
  <p><%= t('.nationality') %></p>
  <p><%= prisoner_information.nationality %></p>
</div>
