<div class="form-group error">
  <%= label_tag('prison-number') do %>
      <span class="form-label-bold">
          <%= t('shared.search.label') %>
      </span>
      <span class="form-hint">
          <%= t('shared.search.hint') %>
      </span>
      <span class="error-message">
          <%= t('shared.search.error') %>
      </span>
  <% end %>
  <div class="search-wrapper">
    <%= text_field_tag('prison-number', nil, class: 'form-control', aria_described_by: 'prison-number') %><%= submit_tag('Search', class: 'button') %>
  </div>
</div>
