<h2>Search results</h2>
<table class="result">
  <caption class="visuallyhidden"><%= t('.heading') %></caption>
  <tr>
    <th scope="col"><%= t('.prison_number') %></th>
    <th scope="col"><%= t('.prisoner_name') %></th>
    <th scope="col"><%= t('.date_of_birth') %></th>
    <th scope="col"><%= t('.last_edited') %></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>