<div class="front-page-markers">
  <div class="title">
    <strong><%= t('pdfs.front_page_markers.healthcare_information.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.healthcare_information.acct') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.allergies') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.disabilities') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="health"><%= t('pdfs.front_page_markers.healthcare_information.notes') %></span>
  </div>
</div>
<div class="front-page-markers">
  <div class="title">
    <strong><%= t('pdfs.front_page_markers.risks.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.violence') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.escape') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.non_association') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="risk"><%= t('pdfs.front_page_markers.risks.notes') %></span>
  </div>
</div>
<div class="front-page-markers">
  <div class="title">
    <strong><%= t('pdfs.front_page_markers.offence_information.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.offence_information.cat_a') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('pdfs.front_page_markers.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="offence"><%= t('pdfs.front_page_markers.offence_information.notes') %></span>
  </div>
</div>
