<div class="move-information">
  <div class="from">
    <strong class="label"><%= t('pdfs.move_information.from') %></strong>
    <div class="input"></div>
  </div>
  <div class="to">
    <strong class="label"><%= t('pdfs.move_information.to') %></strong>
    <div class="input"></div>
  </div>
  <div class="date-of-travel">
      <strong class="label"><%= t('pdfs.move_information.date') %></strong>
      <div class="input"></div>
      <div class="input"></div>
      <div class="input"></div>
  </div>
  <div class="destination-update">
    <strong class="label"><%= t('pdfs.move_information.destination_update') %></strong>
    <div class="input"></div>
  </div>
</div>
<div class="move-information">
  <div class="reason-for-move">
    <strong class="label"><%= t('pdfs.move_information.reason_for_move') %></strong>
    <div class="input"></div>
  </div>
</div>
