<div class="offences">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('pdfs.offences.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <p><%= t('pdfs.offences.instructions') %></p>
  <strong><%= t('pdfs.offences.other_offences') %></strong>
  <p><%= t('pdfs.offences.other_offence_instructions') %></p>
  <ul>
    <li><%= t('pdfs.offences.outstanding_charge') %></li>
    <li><%= t('pdfs.offences.serving_sentence') %></li>
    <li><%= t('pdfs.offences.on_remand') %></li>
    <li><%= t('pdfs.offences.license_recall') %></li>
  </ul>
  <table class="bordered-table">
    <tr>
      <th><%= t('pdfs.offences.offence') %></th>
      <th><%= t('pdfs.offences.offence_status') %></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
