<fieldset>
  <legend class="form-label-bold"><%= t("shared.#{date_field}_inputs.label") %></legend>
  <p class="form-hint datefield-hint"><%= t("shared.#{date_field}_inputs.hint", today: hint) %></p>

  <%= render view: :date_field_input, locals: {
        f: f,
        model: model,
        date_field: date_field,
        field: 'day',
        size: 2
      } %>

  <%= render view: :date_field_input, locals: {
        f: f,
        model: model,
        date_field: date_field,
        field: 'month',
        size: 2
      } %>

  <%= render view: :date_field_input, locals: {
        f: f,
        model: model,
        date_field: date_field,
        field: 'year',
        size: 4
      } %>

</fieldset>
