<fieldset>
  <legend class="form-label-bold"><%= t('shared.date_of_birth_inputs.label') %></legend>
  <p class="form-hint datefield-hint"><%= t('shared.date_of_birth_inputs.hint') %></p>

  <div class="form-group form-group-day">
    <label for="prisoner_information_date_of_birth_day">
      <%= t('.day_label') %>
    </label>
    <%= text_field_tag(
            'prisoner_information[date_of_birth][day]',
            f.object.date_of_birth_presenter.day,
            maxlength: 2,
            size: 2,
            class: 'form-control'
        ) %>
  </div>

  <div class="form-group form-group-month">
    <label for="prisoner_information_date_of_birth_month">
      <%= t('.month_label') %>
    </label>
    <%= text_field_tag(
            'prisoner_information[date_of_birth][month]',
            f.object.date_of_birth_presenter.month,
            maxlength: 2,
            size: 2,
            class: 'form-control'
        ) %>
  </div>

  <div class="form-group form-group-year">
    <label for="prisoner_information_date_of_birth_year">
      <%= t('.year_label') %>
    </label>
    <%= text_field_tag(
            'prisoner_information[date_of_birth][year]',
            f.object.date_of_birth_presenter.year,
            maxlength: 4,
            size: 4,
            class: 'form-control'
        ) %>
  </div>
</fieldset>
