<fieldset class="js_has_optional_section">
  <div class="form-group">
    <legend class="form-label-bold">
      <span>
        <%= t(".types.#{risk}") %>
      </span>
      <%= f.radio_button risk, 'unknown', class: "visuallyhidden" %>
      <%= f.label risk, class: 'unknown_value' %> Clear
    </legend>
    <div class="form-group">
      <%= f.label risk, value: true, class: 'block-label inline' do %>
          <%= f.radio_button risk, true %> Yes
      <% end %>
      <%= f.label risk, value: false, class: 'block-label inline' do %>
          <%= f.radio_button risk, false %> No
      <% end %>
      <div class="form-group optional-section">
        <%= f.label "#{risk}_details", t('.labels.details') %>
        <%= f.text_area "#{risk}_details", autocomplete: 'off', class: 'form-control', id: "#{risk}_details" %>
      </div>
    </div>
  </div>
</fieldset>
