<% %i[ physical_risk
       mental_risk
       social_care_and_other
       allergies ].each do |attribute| %>
  <%= render(
        'shared/toggle_with_details_field',
        f: f,
        attribute: attribute,
        i18n_scope: 'healthcare'
      )
  %>
<% end %>

<%= text_toggle_container(f, :disabilities, 'healthcare') do %>
  <%= form_group_container(f, :disabilities) do %>
    <%= f.label :mpv_required, class: 'block-label inline' do %>
      <%= f.check_box :mpv_required %>
      <%= t('healthcare.mpv_required') %>
    <% end %>
  <% end %>
  <%= details_text_area_with_help_text(f, :disabilities, 'healthcare') %>
<% end %>

<%= toggle_container(f, :medication, 'healthcare') do %>
  <%= form_group_container(f, :medications, classes: 'optional-section') do %>
    <div class="multiples-container">
      <div class="item-heading"><%= t('healthcare.medication.description') %></div>
      <div class="item-heading"><%= t('healthcare.medication.administration') %></div>
      <div class="item-heading carried-by"><%= t('healthcare.medication.carried_by') %></div>
      <% f.object.backfilled_medications.each_with_index do |m, index| %>
        <%= f.fields_for "medications[#{index}]", m do |mf| %>
          <div id="medication-<%= mf.index %>" class="item <%= 'shown' if m.persisted? %>">
            <%= mf.hidden_field :id %>
            <%= mf.text_field :description %>
            <%= mf.text_field :administration %>
            <%= mf.select :carrier, f.object.carrier_options, include_blank: true %>
            <%= mf.check_box :_destroy %>
            <%= mf.label :_destroy, class: 'remove-link' do %>
              <%= t('healthcare.medication.remove') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= single_field(f, :medical_professional_name) %>

<%= single_field(f, :contact_telephone) %>
