<%= single_field(f, :origin) %>

<%= single_field(f, :destination) %>

<div class="form-group">
  <%= date_fields(f, :date_of_travel) do %>
    <%= render 'shared/date_field_inputs',
      f: f,
      model: 'move_information',
      date_field: 'date_of_travel',
      hint: f.object.formatted_date_today %>
  <% end %>
</div>

<%= single_field(f, :reason) %>
