<div class="form-group">
  <%= f.label :origin, class: 'form-label-bold' %>
  <%= f.text_field :origin, class: 'string form-control' %>
</div>

<div class="form-group">
  <%= f.label :destination, class: 'form-label-bold' %>
  <%= f.text_field :destination, class: 'string form-control' %>
</div>

<div class="form-group">
  <%= date_fields(f, :date_of_travel) do %>
      <%= render('/shared/date_of_travel_inputs', f: f) %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :reason, class: 'form-label-bold' %>
  <%= f.text_field :reason, class: 'string form-control' %>
</div>
