<div class="form-group">
  <% if f.object.base_64_image.present? %>
    <img src="data:image/png;base64,<%= f.object.base_64_image %>" style="border:solid;"></img>
  <% end %>
</div>

<div class="form-group">
  <span id="prison-number" class="form-label-bold" id="prison-number"><%= t('shared.prison_number') %></span>
  <span aria-labelledby="prison-number"><%= f.object.prison_number %></span>
</div>

<%= single_field(f, :family_name) %>

<%= single_field(f, :forenames) %>

<%= date_fields(f, :date_of_birth) do %>
  <%= render 'shared/date_field_inputs',
    f: f,
    model: 'prisoner',
    date_field: 'date_of_birth',
    hint: nil %>
<% end %>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">
      <%= t('.sex.label') %>
    </legend>
    <%= f.label :sex, value: 'male', class: 'block-label' do %>
      <%= t('.sex.male_label') %>
      <%= f.radio_button :sex, 'male' %>
    <% end %>
    <%= f.label :sex, value: 'female', class: 'block-label' do %>
      <%= t('.sex.female_label') %>
      <%= f.radio_button :sex, 'female' %>
    <% end %>
  </fieldset>
</div>

<%= single_field(f, :nationality) %>

<%= single_field(f, :cro_number) %>

<%= single_field(f, :pnc_number) %>

<%= single_field(f, :aliases) %>
