<div class="grid-row">
  <div class="column-one-quarter">
    <%= render('shared/navigation') %>
    <%= render('shared/quick_actions') %>
  </div>
  <div class="column-three-quarters">
    <header>
      <h1><%= t("escorts.#{form.name}.heading") %></h1>
    </header>

    <%= form_for form, url: form.url, method: :put do |f| %>
        <%= render('shared/flashes/save_errors', object: f.object) %>
        <%= render('shared/flashes/save_confirmation') %>
        <%= render form.template, f: f %>
        <div class="form-group">
          <%= f.submit t('.save'), class: 'button' %>
        </div>
    <% end %>
  </div>
</div>
