<div class="grid-row">
  <div class="column-one-quarter">
    <%= render('shared/navigation') %>
    <%= render('shared/quick_actions') %>
  </div>
  <div class="column-three-quarters">
    <header>
      <h1><%= t(".heading") %></h1>
    </header>
    <%= render('escorts/summary/prisoner', prisoner: @summary.prisoner) %>
    <%= render('escorts/summary/move', move: @summary.move) %>
  </div>
</div>
