<div class="checks-and-events">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <strong class="label"><%= t('.checks_and_significant_events') %></strong>
  <div class="event-instructions">
    <div><%= render('pdfs/exclamation_image') %><%= t('.highlight_current_risk') %></div>
    <div><%= t('.noting_details') %></div>
  </div>
  <div class="record-of-events">
    <table>
      <tr>
        <th><%= render('pdfs/exclamation_image') %></th>
        <th><%= t('.time') %></th>
        <th><%= t('.details') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.initials') %></th>
      </tr>
      <% 20.times do |i| %>
          <tr>
            <td>
              <div class='event-marker'></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="continuation-markers">
  <div>
    <div class="check-box"></div>
    <div class="label-inline"><%= t('.tick_and_complete') %></div>
  </div>
</div>

