<div class="checks-and-events">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <strong class="label"><%= t('.checks_and_significant_events') %></strong>
  <div class="record-of-events">
    <table>
      <tr>
        <th><%= render('pdfs/exclamation_image') %></th>
        <th><%= t('.time') %></th>
        <th><%= t('.details') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.initials') %></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= t('.prisoner_identified') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= t('.searched') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= t('.escort_briefed') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= t('.searched_by_contractor') %></td>
        <td></td>
        <td></td>
      </tr>
      <% 16.times do |i| %>
          <tr>
            <td>
              <div class='event-marker'></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="continuation-markers">
  <div>
    <div class="check-box"></div>
    <div class="label-inline"><%= t('.tick_and_complete') %></div>
  </div>
</div>
