<div id="<%= attribute %>-checkbox-group" class="indicator">
  <div>
    <div class="label-inline">
      <%= t(".#{attribute}") %>
    </div>
  </div>
  <div>
    <div class="check-box <%= yes_checked_class %>"></div>
    <div class="label-inline">
      <%= t('.yes_label') %>
    </div>
  </div>
  <div>
    <div class="check-box <%= no_checked_class %>"></div>
    <div class="label-inline">
      <%= t('.no_label') %>
    </div>
  </div>
</div>
