<div>
  <div class="front-page-markers">
    <div class="title">
      &nbsp
    </div>
    <div class="markers">
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.open_acct) %>
      <div class="indicator">
        <div>
          <div class="label-inline"><%= t('.offences.cat_a') %></div>
        </div>
        <div>
          <div class="check-box"></div>
          <div class="label-inline">Yes</div>
          <div class="check-box"></div>
          <div class="label-inline">No</div>
        </div>
      </div>
    </div>
  </div>

  <div class="front-page-markers">
    <div class="title">
      <strong><%= t('.healthcare.title') %></strong>
    </div>
    <div class="markers has-reference">
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.allergies) %>
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.disabilities) %>
    </div>
    <div class="notes">
      <span class="health"><%= t('.healthcare.notes') %></span>
    </div>
  </div>

  <div class="front-page-markers">
    <div class="title">
      <strong><%= t('.risks.title') %></strong>
    </div>
    <div class="markers has-reference">
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.violence) %>
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.escape) %>
      <%= Pdf::CoversheetCheckbox.html_for(front_page_markers.non_association) %>
    </div>
    <div class="notes">
      <span class="risk"><%= t('.risks.notes') %></span>
    </div>
  </div>
</div>
