<div class="front-page-markers">
  <div class="title">
    <strong><%= t('.healthcare_information.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.healthcare_information.acct') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.risks.allergies') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.risks.disabilities') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="health"><%= t('.healthcare_information.notes') %></span>
  </div>
</div>
<div class="front-page-markers">
  <div class="title">
    <strong><%= t('.risks.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.risks.violence') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.risks.escape') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.risks.non_association') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="risk"><%= t('.risks.notes') %></span>
  </div>
</div>
<div class="front-page-markers">
  <div class="title">
    <strong><%= t('.offence_information.title') %></strong>
  </div>
  <div class="markers">
    <div class="indicator">
      <div>
        <div class="label-inline"><%= t('.offence_information.cat_a') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.yes_label') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.risks.no_label') %></div>
      </div>
    </div>
  </div>
  <div class="notes">
    <span class="offence"><%= t('.offence_information.notes') %></span>
  </div>
</div>

