<div class="handover-details">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent_info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="fit-to-travel">
    <div class="fitting">
      <div class="check-box"></div>
      <div class="label-inline"><strong><%= t('.fit_to_travel') %></strong>
      </div>
    </div>
    <div class="professional-name">
      <div>
        <div class="label"><%= t('.name_of_healthcare_professional') %></div>
        <div class="input"></div>
      </div>
    </div>
    <div class="row">
      <div class="signature">
        <div class="label"><%= t('.signature') %></div>
        <div class="input"></div>
      </div>
      <div class="role">
        <div class="label"><%= t('.role') %></div>
        <div class="input"></div>
      </div>
    </div>
  </div>
  <div class="return-information">
    <div>
      <div class="marker">
        <div class="check-box"></div>
        <strong class="label-inline"><%= t('.must_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline"></div>
      </div>
    </div>
  </div>
  <div class="return-information">
    <div>
      <div class="marker">
        <div class="check-box"></div>
        <strong class="label-inline"><%= t('.must_not_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline not-to-return"></div>
      </div>
    </div>
  </div>
  <div class="medication-handover">
    <div>
      <strong class="label"><%= t('.medication_heading') %></strong>
      <div class="instruction"><%= t('.medication_instructions') %></div>
    </div>
    <div class="markers">
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.no_medication') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.medicaton_with_escort') %></div>
      </div>
      <div>
        <div class="check-box"></div>
        <div class="label-inline"><%= t('.medication_with_prisoner') %></div>
      </div>
    </div>
  </div>
  <div class="enclosed-forms">
    <div>
      <strong class="label"><%= t('.enclosed_forms') %></strong>
    </div>
    <table class="bordered-table">
      <tr>
        <th scope="col"><%= t('.form') %></th>
        <th scope="col"><%= t('.attached') %></th>
        <th scope="col"><%= t('.quantity') %></th>
        <th scope="col"><%= t('.form') %></th>
        <th scope="col"><%= t('.attached') %></th>
        <th scope="col"><%= t('.quantity') %></th>
      </tr>
      <tr>
        <th scope="row"><%= t('.acct') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.remand_time') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.sash') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.pnc_printout') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.csra') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.medical_assessment') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.core_record') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.confidential_medical_documents') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.property_card') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.is91') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.categorisation_documentation') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.deportation_order') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.restraints_form') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.warrant') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.other') %></th>
        <td colspan="3"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
