<div class="handover-details">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="fit-to-travel">
    <div class="fitting">
      <div class="check-box"></div>
      <div class="label-inline"><strong><%= t('.fit_to_travel') %></strong>
      </div>
    </div>
    <div class="professional-name">
      <div>
        <div class="label"><%= t('.name_of_healthcare_professional') %></div>
        <div class="input"></div>
      </div>
    </div>
    <div class="row">
      <div class="signature">
        <div class="label"><%= t('.signature') %></div>
        <div class="input"></div>
      </div>
      <div class="role">
        <div class="label"><%= t('.role') %></div>
        <div class="input"></div>
      </div>
    </div>
  </div>
  <div class="medication-handover">
    <div class="heading">
      <%= t('.medication_heading') %>
    </div>
  </div>
  <div class="markers">
    <div>
      <div class="check-box <%= healthcare.no_medication_class %>"></div>
      <div class="label-inline"><%= t('.no_medication') %></div>
    </div>
  </div>
  <div class="medication-administration">
    <table>
      <tr>
        <th colspan="2" class="hidden-borders"></th>
        <th colspan="2" class="carried-by"><%= t('.medication_carried_by') %></th>
      </tr>
      <tr>
        <th><%= t('.medication_description') %></th>
        <th><%= t('.medication_administration_info') %></th>
        <th class="narrow"><%= t('.escort') %></th>
        <th class="narrow"><%= t('.prisoner') %></th>
      </tr>
      <% for medication in healthcare.backfilled_medications %>
        <tr>
          <td><%= medication.description %></td>
          <td><%= medication.administration %></td>
          <td class="narrow">
            <div id="<%= medication.id %>-<%= medication.carrier %>" class="check-box <%= healthcare.carrier_class('escort', medication.carrier) %>"></div>
          </td>
          <td class="narrow">
            <div id="<%= medication.id %>-<%= medication.carrier %>" class="check-box <%= healthcare.carrier_class('prisoner', medication.carrier) %>"></div>
          </td>
        </tr>
      <% end %>
    </table>
    <table>
      <tr>
        <th><%= t('.medical_professional') %></th>
        <th><%= t('.contact_number') %></th>
      </tr>
      <tr>
        <td><%= healthcare.medical_professional_name %></td>
        <td><%= healthcare.contact_telephone %></td>
      </tr>
    </table>
  </div>
  <div class="enclosed-forms">
    <div class="heading">
      <%= t('.enclosed_forms') %>
    </div>
    <table class="bordered-table">
      <tr>
        <th scope="col"><%= t('.form') %></th>
        <th scope="col"><%= t('.attached') %></th>
        <th scope="col"><%= t('.quantity') %></th>
        <th scope="col"><%= t('.form') %></th>
        <th scope="col"><%= t('.attached') %></th>
        <th scope="col"><%= t('.quantity') %></th>
      </tr>
      <tr>
        <th scope="row"><%= t('.acct') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.remand_time') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.sash') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.pnc_printout') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.csra') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.medical_assessment') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.core_record') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.confidential_medical_documents') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.property_card') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.is91') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.categorisation_documentation') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.deportation_order') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.restraints_form') %></th>
        <td></td>
        <td></td>
        <th scope="row"><%= t('.warrant') %></th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= t('.other') %></th>
        <td colspan="3"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
