<div class="handover-details">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent_info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="fit-to-travel">
    <div class="fitting">
      <div class="check-box"></div>
      <div class="label-inline"><strong><%= t('.fit_to_travel') %></strong>
      </div>
    </div>
    <div class="professional-name">
      <div>
        <div class="label"><%= t('.name_of_healthcare_professional') %></div>
        <div class="input"></div>
      </div>
    </div>
    <div class="row">
      <div class="signature">
        <div class="label"><%= t('.signature') %></div>
        <div class="input"></div>
      </div>
      <div class="role">
        <div class="label"><%= t('.role') %></div>
        <div class="input"></div>
      </div>
    </div>
  </div>
</div>
</div>
