<div class="healthcare_needs">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="health-section">
    <strong><%= t('.physical_health_risks') %></strong>
    <div class="content"></div>
  </div>
  <div class="health-section">
    <strong><%= t('.mental_health_risks') %></strong>
    <div class="content"></div>
  </div>
  <div class="health-section">
    <strong><%= t('.social_care_and_other_needs') %></strong>
    <div class="content"></div>
  </div>
  <div class="health-section">
    <strong><%= t('.allergies') %></strong>
    <div class="content"></div>
  </div>
  <div class="health-section disabilities">
    <strong><%= t('.disabilities') %></strong>
    <div class="mpv-required">
      <div></div>
      <div><%= t('.mpv_required') %></div>
    </div>
    <div class="content"></div>
  </div>
</div>

<div class="medication">
  <strong class="label"><%= t('.medication_title') %></strong>
  <div class="instructions"><%= t('.medication_instructions') %></div>
  <div class="input"></div>
</div>

<div class="healthcare-updates">
  <table class="bordered-table">
    <tr>
      <th><%= t('.completed_by') %></th>
      <th><%= t('.phone_number') %></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="updates">
    <strong><%= t('.updates') %></strong>
    <div><%= t('.update_instructions') %></div>
    <div class="input"></div>
  </div>
</div>