<div class="move-information">
  <div class="from">
    <span class="label"><%= t('.from') %></span>
    <div class="cover-sheet-emphasis"><%= move.origin %></div>
  </div>
  <div class="to">
    <span class="label"><%= t('.to') %></span>
    <div class="cover-sheet-emphasis"><%= move.destination %></div>
  </div>
  <div class="destination-update">
    <span class="label"><%= t('.destination_update') %></span>
    <div class="input"></div>
  </div>
</div>
<div class="move-information">
  <div class="date-of-travel">
    <span class="label"><%= t('.date') %></span>
    <div><%= move.date_of_travel_day %> <%= move.date_of_travel_month %> <%= move.date_of_travel_year %></div>
  </div>
  <div class="reason-for-move">
    <span class="label"><%= t('.reason_for_move') %></span>
    <div><%= move.reason %></div>
  </div>
  <div class="case-number">
    <span class="label"><%= t('.case_number') %></span>
  </div>
</div>
