<div class="offences">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="return-information must-return">
    <div>
      <div class="marker">
        <div class="check-box"></div>
        <strong class="label-inline"><%= t('.must_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline"></div>
      </div>
    </div>
  </div>
  <div class="return-information must-not-return">
    <div>
      <div class="marker">
        <div class="check-box"></div>
        <strong class="label-inline"><%= t('.must_not_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline not-to-return"></div>
      </div>
    </div>
  </div>
  <p><%= t('.instructions') %></p>
  <strong><%= t('.other_offences') %></strong>
  <p><%= t('.other_offence_instructions') %></p>
  <ul>
    <li><%= t('.outstanding_charge') %></li>
    <li><%= t('.serving_sentence') %></li>
    <li><%= t('.on_remand') %></li>
    <li><%= t('.license_recall') %></li>
  </ul>
  <div class="offences-output"><%= offences.other_offences_details %></div>
</div>
