<div class="offences">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <p><%= t('.instructions') %></p>
  <div class="return-information must-return">
    <div>
      <div class="marker">
        <div class="check-box <%= offences.must_return_class %>"></div>
        <strong class="label-inline"><%= t('.must_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline">
          <%= offences.must_return_details %>
        </div>
      </div>
    </div>
  </div>
  <div class="return-information must-not-return">
    <div>
      <div class="marker">
        <div class="check-box <%= offences.must_not_return_class %>"></div>
        <strong class="label-inline"><%= t('.must_not_return') %></strong></div>
      <div class="reason">
        <strong class="label-inline"><%= t('.reason') %></strong>
        <div class="input-inline not-to-return">
          <%= offences.must_not_return_details %>
        </div>
      </div>
    </div>
  </div>
  <strong><%= t('.current_offences') %></strong>
  <p><%= t('.current_offence_instructions') %></p>
  <div class="current-offences">
    <table>
      <tr>
        <th><%= t('.offence_type') %></th>
        <th><%= t('.offence_status') %></th>
        <th class="narrow"><%= t('.not_for_release') %></th>
        <th class="narrow"><%= t('.current_offence') %></th>
      </tr>
      <% offences.offence_details.each do |offence_details| %>
        <tr>
          <td><%= offence_details.offence_type %></td>
          <td><%= offences.offence_status(offence_details) %></td>
          <td class="narrow">
            <div id="<%= offence_details.id %>-not-for-release" class="check-box <%= offences.not_for_release_class(offence_details) %>"></div>
          </td>
          <td class="narrow">
            <div id="<%= offence_details.id %>-current-offence" class="check-box <%= offences.current_offence_class(offence_details) %>"></div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
