<article class="prisoner-information">
  <div>
    <div class="information">
      <div class="names">
        <div class="family-name">
          <span class="label"><%= t('.family_name') %></span>
          <div class="extra-emphasis"><%= prisoner.family_name %></div>
        </div>
        <div class="forenames">
          <span class="label"><%= t('.forenames') %></span>
          <div class="extra-emphasis"><%= prisoner.forenames %></div>
        </div>
      </div>
      <div class="identification-numbers">
        <div class="prison-number">
          <span class="label"><%= t('.prison_number') %></span>
          <div class="cover-sheet-emphasis"><%= prisoner.prison_number %></div>
        </div>
        <div class="pnc-number">
          <span class="label"><%= t('.pnc_number') %></span>
          <div class="cover-sheet-emphasis"><%= prisoner.pnc_number %></div>
        </div>
        <div class="cro-number">
          <span class="label"><%= t('.cro_number') %></span>
          <div class="cover-sheet-emphasis"><%= prisoner.cro_number %></div>
        </div>
      </div>
      <div class="secondary">
        <div class="dates">
          <span class="label"><%= t('.dob') %></span>
          <div class="cover-sheet-emphasis">
            <%= prisoner.date_of_birth_day %>
            <%= prisoner.date_of_birth_month %>
            <%= prisoner.date_of_birth_year %>
          </div>
        </div>
        <div class="age">
          <span class="label"><%= t('.age') %></span>
          <div class="cover-sheet-emphasis"><%= prisoner.age %></div>
        </div>
        <div class="sex">
          <span class="label"><%= t('.sex') %></span>
          <div class="cover-sheet-emphasis"><%= prisoner.capitalized_sex %></div>
        </div>
        <div class="nationality">
          <span class="label"><%= t('.nationality') %></span>
          <div><%= prisoner.nationality %></div>
        </div>
      </div>
    </div>
    <% if prisoner.base_64_image.present? %>
      <img height='150px' src="data:image/png;base64,<%= prisoner.base_64_image %>" style="border:solid;"></img>
    <% else %>
      <div class="image-placeholder">
        <%= t('.photo_message') %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="aliases">
      <div class="label"><%= t('.aliases') %></div>
      <div class="cover-sheet-emphasis"></div>
    </div>
  </div>
</article>
