<div class="record-of-handover">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="property-details">
    <div class="heading"><%= t('.property_details') %></div>
    <div class="instructions"><%= t('.instructions') %></div>
    <ul>
      <li><strong><%= t('.cash_code') %></strong> - <%= t('.cash') %></li>
      <li><strong><%= t('.documentation_code') %></strong> - <%= t('.documentation') %></li>
      <li><strong><%= t('.in_possession_code') %></strong> - <%= t('.in_possession') %></li>
      <li><strong><%= t('.medication_code') %></strong> - <%= t('.medication') %></li>
      <li><strong><%= t('.open_at_court_code') %></strong> - <%= t('.open_at_court') %></li>
      <li><strong><%= t('.stored_property_code') %></strong> - <%= t('.stored_property') %></li>
      <li><strong><%= t('.valuables_code') %></strong> - <%= t('.valuables') %></li>
    </ul>
  </div>
  <div class="seal-numbers">
    <div>
      <table>
        <tr>
          <th><%= t('.code') %></th>
          <th><%= t('.seal_number') %></th>
          <th>&#163; <%= t('.value') %></th>
          <th><%= t('.initial') %></th>
        </tr>
        <% 10.times do %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <th><%= t('.reseal_no') %></th>
          <th><%= t('.reason_for_opening') %></th>
          <th><%= render('pdfs/clock_image') %></th>
          <th><%= t('.initial') %></th>
        </tr>
        <% 10.times do %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="handover">
    <strong class="label"><%= t('.handover') %></strong>
    <div class="handover-details">
      <div>
        <div></div>
        <div><%= t('.prisoner') %></div>
        <div></div>
        <div><%= t('.medication') %></div>
        <div><%= t('.property') %></div>
      </div>
      <%= render 'pdfs/handover_row', label: t('.starting_location'), contact_number: t('.contact_number') %>
      <%= render 'pdfs/handover_row', label: t('.escort_label') %>
      <%= render 'pdfs/handover_row', label: t('.destination_label') %>
      <%= render 'pdfs/handover_row', label: t('.escort_label') %>
      <%= render 'pdfs/handover_row', label: t('.destination_label') %>
    </div>
  </div>
</div>