<div class="record-of-handover">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent_info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="property-details">
    <strong class="label"><%= t('.property_details') %></strong>
    <div class="instructions"><%= t('.instructions') %></div>
    <ul>
      <li><strong><%= t('.valuables_code') %></strong> - <%= t('.valuables') %>
      </li>
      <li><strong><%= t('.in_possession_code') %></strong>
        - <%= t('.in_possession') %></li>
      <li><strong><%= t('.documentation_code') %></strong>
        - <%= t('.documentation') %></li>
      <li><strong><%= t('.stored_property_code') %></strong>
        - <%= t('.stored_property') %></li>
      <li><strong><%= t('.cash_code') %></strong> - <%= t('.cash') %></li>
    </ul>
    <div class="items">
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
    </div>
    <div class="items">
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
    </div>
    <div class="items">
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
    </div>
    <div class="items">
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
      <div class="input-inline-group">
        <div><%= t('.type') %></div>
        <div></div>
        <div><%= t('.seal_number') %></div>
        <div></div>
      </div>
    </div>
  </div>
</div>