<div class="release-at-court">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <strong class="label"><%= t('.release_at_court') %></strong>
  <p><%= t('.certify_checks_made') %></p>
  <table>
    <tr>
      <th><strong><%= t('.agency') %></strong></th>
      <th><strong><%= t('.establishment') %></strong></th>
      <th><strong><%= t('.name') %></strong></th>
      <th><strong><%= t('.authority_to_release') %></strong></th>
      <th><strong><%= t('.remarks') %></strong></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="release-authorisation">
    <div class="signatory">
    <div class="label"><strong><%= t('.release_authorised') %></strong></div>
      <div>
        <div class="label-inline"><%= t('.name') %></div>
        <div class="input-inline"></div>
      </div>
      <div>
        <div class="label-inline"><%= t('.signature') %></div>
        <div class="input-inline"></div>
      </div>
    </div>
    <div class="signatory">
    <div class="label"><strong><%= t('.release_countersigned_by') %></strong></div>
      <div>
        <div class="label-inline"><%= t('.name') %></div>
        <div class="input-inline"></div>
      </div>
      <div>
        <div class="label-inline"><%= t('.signature') %></div>
        <div class="input-inline"></div>
      </div>
    </div>
  </div>
  <div class="property-receipt">
    <div class="label"><strong><%= t('.receipt_of_property') %></strong></div>
    <p><%= t('.content_certification') %></p>
    <ul class="seal-numbers">
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
      <li><%= t('.seal_no') %></li>
    </ul>
    <div class="signatory">
      <div class="label"><strong><%= t('.release_countersigned_by') %></strong></div>
      <div>
        <div class="label-inline"><%= t('.name') %></div>
        <div class="input-inline"></div>
      </div>
      <div>
        <div class="label-inline"><%= t('.signature') %></div>
        <div class="input-inline"></div>
      </div>
    </div>
  </div>
</div>