<div class="risk-summary">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.risks_to_self') %></strong></div>
      <div class="content"><%= risks.to_self_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.violence') %></strong></div>
      <div class="content"><%= risks.violence_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.risk_from_others') %></strong></div>
      <div class="content"><%= risks.from_others_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.escort_escape_risk') %></strong></div>
      <div class="content"><%= risks.escape_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.intolerant_behaviour') %></strong>
      </div>
      <div class="content"><%= risks.intolerant_behaviour_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.prohibited_items') %></strong></div>
      <div class="content"><%= risks.prohibited_items_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="risk">
    <div class="description">
      <div class="title"><strong><%= t('.non_association') %></strong></div>
      <div class="content"><%= risks.non_association_details %></div>
    </div>
    <div class="date">
      <div class="title"><%= t('.date_of_incident') %></div>
      <div class="content"></div>
    </div>
  </div>
  <div class="completed-by">
    <div>
      <div><%= t('.completed_by') %></div>
      <div></div>
    </div>
    <div>
      <div><%= t('.signature') %></div>
      <div></div>
    </div>
  </div>
</div>
