<div class="risk-summary">
  <div class="section-heading">
    <div class="heading">
      <h2><%= t('.heading') %></h2>
    </div>
    <div class="persistent-info">
      <span class="label"><%= t('pdfs.shared.identifiers_label') %></span>
      <div class="input"></div>
    </div>
  </div>
  
  <table class="risk">
    <tr>
      <th><%= t('.risks_to_self') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.to_self_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.violence') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.violence_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.risk_from_others') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.from_others_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.escort_escape_risk') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.escape_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.intolerant_behaviour') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.intolerant_behaviour_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.prohibited_items') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.prohibited_items_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <table class="risk">
    <tr>
      <th><%= t('.non_association') %></th>
      <th><%= t('.date_of_incident') %></th>
    </tr>
    <tr>
      <td><span><%= risks.non_association_details %></span></td>
      <td><span></span></td>
    </tr>
  </table>

  <div class="completed-by">
    <div>
      <div><%= t('.completed_by') %></div>
      <div></div>
    </div>
    <div>
      <div><%= t('.signature') %></div>
      <div></div>
    </div>
  </div>
</div>
