<!doctype html>
<html lang="en">
<head>
  <style>
    <%= PdfStylesheetBuilder.html_safe_pdf_stylesheet %>
  </style>
</head>
<body>
<%= render('pdfs/header') %>
<%= render('pdfs/not_for_release') %>
<%= render('pdfs/move_information') %>
<%=
  render(
      'pdfs/prisoner_information',
      prisoner_information: escort.prisoner_information
  )
%>
<%= render('pdfs/front_page_markers') %>
<%= render('pdfs/updates') %>
<%= render('pdfs/risk_summary') %>
<%= render('pdfs/healthcare_needs') %>
<%= render('pdfs/medication') %>
<%= render('pdfs/healthcare_updates') %>
</body>
</html>
