<%= content_for :stylesheets do %>
    <%= stylesheet_link_tag('application.css') %>
    <!--[if IE 8]><%= stylesheet_link_tag('ie8') %><![endif]-->
    <!--[if IE 9]><%= stylesheet_link_tag('ie9') %><![endif]-->
<% end %>

<% content_for :content_override do %>
    <main id="wrapper" role="main">
      <div class="container">
        <div class="phase-banner">
          <p>
            <strong class="phase-tag"><%= t(:current_phase) %></strong>
            <span><%= t(:phase_message) %></span>
          </p>
        </div>
      </div>
      <div class="container">
        <section class="content inner cf" id="content">
          <%= yield %>
        </section>
      </div>
    </main>
<% end %>

<% content_for :proposition_links do %>
  <% if user_signed_in? %>
    <div class='sign-out'>
      <%= button_to t(:sign_out), destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
<% end %>


<%= render 'shared/moj_template_ie_cc' %>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'application.js' %>
<% end %>

<%= render template: 'layouts/moj_template' %>
